#nav-bar {
    background: rgb(2, 28, 4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-bar > div {
    color: white;
}

#logo {
    padding: 0px 24px;
}

#logo > #title {
    font-size: 24px;
}

#logo > #subtitle {
    font-size: 12px;
}

#nav-bar > #items {
    display: flex;
    flex-direction: row;
    padding-right: 32px;
    height: 48px;
}

#nav-bar > #items > div.nav-item {
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
}

#nav-bar > #items > div.nav-item:hover {
    background: red;
}
